@import "tailwindcss";

@theme {
    --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    @apply bg-[#000918] !text-gray-400;

    --mantine-color-body: #00918;

    background-image: url('./assets/background.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #000918;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}


@layer components {
    h1 {
        @apply text-xl font-bold mb-2;
    }

    h2 {
        @apply text-lg font-bold mb-2;
    }

    p {
        @apply mb-4;
    }

    ul {
        @apply mb-4 list-inside list-disc;
    }

    .logo {
        .inside {
            @apply opacity-50;
        }

        .middle {
            @apply opacity-70;
        }

        .outside {
            @apply opacity-90;
        }
    }
}
